<launch>

    <!--<node pkg="armor"
          type="execute"
          name="armor_service"
          args="it.emarolab.armor.ARMORMainService"
          output="screen"/>-->

    <node pkg = "assignment_1"
          type = "state_machine.py"
          name = "state_machine"
          output = "screen"
    > </node>

    <node pkg = "assignment_1"
          type = "prova.py"
          name = "o_sm_interface"
          output = "screen"
    > </node>

    <node pkg = "assignment_1"
          type = "scanner.py"
          name = "scanner"
          output = "screen"
    > </node>

    <node pkg = "smach_viewer"
          type = "smach_viewer.py"
          name = "smach_viewer"
          output = "screen"
    > </node>


</launch>
